#!/bin/bash
set -euxo pipefail

cd /tmp
wget https://apt.voxpupuli.org/openvox8-release-ubuntu24.04.deb
dpkg -i openvox8-release-ubuntu24.04.deb
apt update
apt install -y openvox-agent

cat > /etc/puppetlabs/puppet/csr_attributes.yaml <<EOF
extension_requests:
  pp_preshared_key: ${autosign_token}
EOF

cat >> /etc/puppetlabs/puppet/puppet.conf <<EOF
[main]
server = ${puppet_server}
waitforcert = 60
runinterval = 5m
EOF

/opt/puppetlabs/bin/puppet resource service puppet ensure=running enable=true